<div
  class="flex items-center justify-center w-screen h-screen bg-stone-50 absolute"
>
  <div class="relative w-full max-w-lg">
    <div
      class="absolute top-0 -left-2 w-96 h-96 bg-purple-300 rounded-full mix-blend-multiply filter blur-2xl opacity-70 animate-blob animation-delay-5000"
    ></div>
    <div
      class="absolute top-0 -right-2 w-96 h-96 bg-yellow-300 rounded-full mix-blend-multiply filter blur-2xl opacity-70 animate-blob"
    ></div>
    <div
      class="absolute -top-20 left-20 w-96 h-96 bg-pink-300 rounded-full mix-blend-multiply filter blur-2xl opacity-70 animate-blob animation-delay-2000"
    ></div>
  </div>
</div>
