<article
  draggable="true"
  id="pomodoro"
  class="applet md:absolute max-w-lg bg-white rounded-lg border border-stone-100 shadow-md hover:cursor-grab active:cursor-grabbing active:shadow-lg select-none"
>
  <header class="text-gray-900 bg-stone-100 py-3 px-6 rounded-t-lg">
    <h1>{{value.title|title}}</h1>
  </header>

  <main class="flex flex-col items-center justify-around px-6 py-3">
    <div class="text-center mb-12">
      <span class="text-7xl font-light text-gray-700">25:00</span>
    </div>

    <button
      type="button"
      class="flex items-center justify-center gap-x-3 py-2 px-6 bg-blue-500 hover:bg-blue-600 text-white rounded-md"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048"
        class="w-4 h-4 fill-white"
        focusable="false"
      >
        <path d="M1792 1024L512 1920V128l1280 896z"></path>
      </svg>
      <span>Start session</span>
    </button>
  </main>
</article>
