<article
  draggable="true"
  id="pomodoro"
  class="applet md:absolute max-w-lg bg-white rounded-lg border border-stone-100 shadow-md hover:cursor-grab active:cursor-grabbing active:shadow-lg select-none"
>
  <header class="text-gray-900 bg-stone-100 py-3 px-6 rounded-t-lg">
    <h1>{{value.title|title}}</h1>
  </header>

  <main class="flex flex-col gap-y-3 px-6 py-3">
    <div class="text-center">
      <span class="text-7xl font-light">25:00</span>
    </div>

    <div class="flex justify-between">
      <button type="button" disabled>Reset</button>
      <button type="button">Start</button>
      <button type="button" disabled>Stop</button>
    </div>
  </main>
</article>
