<button
  draggable="true"
  id="dropdown-top-button"
  data-dropdown-toggle="dropdownTop"
  data-dropdown-placement="top"
  class="applet bg-white rounded-lg px-12 py-3 text-center inline-flex items-center border border-stone-100 shadow-md active:shadow-lg select-none"
  type="button"
  style="z-index: 1"
>
  <span class="text-gray-900 text-lg">{{value.title|title}}</span>
  <svg
    class="ml-2 w-4 h-4"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
      clip-rule="evenodd"
    ></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdownTop"
  class="hidden md:absolute bg-white rounded-lg divide-y divide-stone-100 border border-stone-100 shadow-lg"
  style="z-index: 999"
>
  <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownTopButton">
    {% for link in value.links %}
    <li>
      <a href="{{link.url}}" class="block py-2 px-4 hover:bg-gray-100"
        >{{link.title|title}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
