<article draggable="true" class="applet md:max-w-md">
  <header class="applet__header">
    <h1>Oops!</h1>
  </header>
  <main
    class="text-center prose-h2:m-0 prose-h2:font-normal prose-h2:text-6xl prose-h2:mt-0 prose-h2:mb-6 prose-p:my-3 prose-p:leading-relaxed prose-a:text-blue-500 dark:prose-a:text-teal-500 py-3 px-6"
  >
    <h2>404</h2>
    <p>
      The page you're searching for doesn't exist. Please, return to the
      <a href="/" alt="Home page">home page</a>
      and remember: you haven't seen anything.
    </p>
  </main>
</article>
