<article class="applet w-full md:max-w-md">
  <header class="applet__header hover:cursor-default active:cursor-default">
    <h1>Oops!</h1>
  </header>
  <main class="py-3 px-6">
    <h2
      class="text-stone-900 dark:text-slate-50 text-center font-bold text-9xl mb-2"
    >
      404
    </h2>
    <p class="text-stone-700 dark:text-slate-50 text-center">
      The page you're searching for doesn't exist. Please, return to the
      <a
        href="/"
        alt="Go home"
        class="text-blue-500 dark:text-teal-400 hover:text-blue-600 dark:hover:text-blue-500 underline hover:cursor-pointer"
        >home page</a
      >
      and remember: you haven't seen anything.
    </p>
  </main>
</article>
