<article draggable="true" class="applet w-full md:max-w-md">
  <header class="applet__header">
    <h1>Something bad happened!</h1>
  </header>
  <main
    class="text-center prose-h2:m-0 prose-h2:font-normal prose-h2:text-6xl prose-h2:mt-0 prose-h2:mb-6 prose-p:my-3 prose-p:leading-relaxed prose-a:text-blue-500 dark:prose-a:text-teal-500 py-3 px-6"
  >
    <h2>500</h2>
    <p>
      Something seems to have broken. Have you tried turning it on and off
      again? In the meantime you can go back to the
      <a href="/" alt="Go home">home page</a>.
    </p>
  </main>
</article>
