<article class="applet max-w-md">
  <header
    class="applet__header relative hover:cursor-default active:cursor-default"
  >
    <h1>Something bad happened!</h1>
  </header>
  <main class="py-3 px-6">
    <h2
      class="text-stone-900 dark:text-slate-50 text-center font-bold text-9xl mb-2"
    >
      500
    </h2>
    <p class="text-stone-700 dark:text-slate-50 text-center">
      Something seems to have broken. Have you tried turning it on and off
      again? In the meantime you can go back to the
      <a
        href="/"
        alt="Go home"
        class="text-blue-500 dark:text-teal-400 hover:text-blue-600 dark:hover:text-blue-500 underline hover:cursor-pointer"
        >home page</a
      >.
    </p>
  </main>
</article>
