<article draggable="true" id="calendar" class="applet w-full md:max-w-md">
  <main
    class="flex items-center justify-center prose-p:text-center prose-p:m-0 prose-ul:list-none prose-ul:p-0 prose-ul:m-0 prose-li:m-0 prose-li:p-0 prose-li:tabular-nums prose-li:text-center px-6 py-3"
  >
    <div id="calendarDay" class="hidden sm:block prose-p:mb-3 px-12">
      <p class="text-7xl">Tue</p>
      <p class="text-5xl">20</p>
    </div>

    <div class="flex flex-col md:items-end gap-y-3 md:w-full">
      <p id="calendarDate" class="">December, 2022</p>
      <ul id="calendarMonth" class="grid grid-cols-7 grid-flow-row gap-1">
        <li class="font-semibold calendar__current-day">X</li>
      </ul>
    </div>
  </main>
</article>
