<div draggable="true" class="applet applet--button">
  <a
    href="mailto:{{value.email}}"
    alt="contact email"
    class="flex items-center justify-center gap-x-4 text-gray-900 dark:text-slate-50"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 2048 2048"
      class="w-6 h-6 fill-gray-900 dark:fill-slate-50"
      focusable="false"
    >
      <path
        d="M2048 384v1280H0V384h2048zM143 512l881 441 881-441H143zm1777 1024V648l-896 447-896-447v888h1792z"
      ></path>
    </svg>
    <span class="text-xl">{{value.title}}</span>
  </a>
</div>
