<article draggable="true" id="pomodoro" class="applet w-full md:max-w-xs">
  <header class="applet__header">
    <h1>{{value.title|title}}</h1>
  </header>

  <main
    class="flex flex-col items-center prose-h2:font-normal prose-h2:m-0 prose-h2:mb-3 prose-h2:text-7xl justify-around px-6 py-6"
  >
    <div class="text-center mb-9">
      <h2 id="pomodoroDisplay" class="tabular-nums">25:00</h2>
    </div>

    <button type="button" id="pomodoroStart" class="pomodoro__button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048"
        class="w-4 h-4 fill-slate-50 dark:fill-slate-900"
        focusable="false"
      >
        <path d="M1792 1024L512 1920V128l1280 896z"></path>
      </svg>
      <span>Start session</span>
    </button>

    <button type="button" id="pomodoroStop" class="pomodoro__button hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048"
        class="w-4 h-4 fill-slate-50 dark:fill-slate-900"
        focusable="false"
      >
        <path d="M128 128h1792v1792H128V128z"></path>
      </svg>
      <span>Stop session</span>
    </button>
  </main>
</article>
