<button
  draggable="true"
  id="dropdown-top-button"
  data-dropdown-toggle="dropdownTop"
  data-dropdown-placement="top"
  class="applet applet--button w-full md:w-auto flex items-center justify-center gap-x-4"
  type="button"
>
  <span class="text-stone-900 dark:text-slate-50 text-xl md:text-lg"
    >{{value.title|title}}</span
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 2048 2048"
    class="w-3 h-3 fill-stone-900 dark:fill-slate-50"
    focusable="false"
  >
    <path
      d="M1902 1511l-878-878-878 878-121-121 999-999 999 999-121 121z"
    ></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdownTop"
  class="hidden md:absolute bg-stone-50 dark:bg-slate-900 rounded-lg divide-y divide-stone-100 dark:divide-slate-700 border border-stone-100 dark:border-slate-900 shadow-lg"
  style="z-index: 999"
>
  <ul
    class="text-md py-3 px-2 max-w-lg text-stone-900 dark:text-slate-50"
    aria-labelledby="dropdownTopButton"
  >
    {% for link in value.links %}
    <li>
      <a
        href="{{link.url}}"
        class="flex items-center justify-center gap-x-3 rounded-md py-3 px-6 hover:bg-stone-100 dark:hover:bg-slate-800"
      >
        <span>{{link.title|title}}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048"
          class="w-2 h-2 fill-stone-900 dark:fill-slate-50"
          focusable="false"
        >
          <path
            d="M2048 0v1152h-128V219L109 2029l-90-90L1829 128H896V0h1152z"
          ></path>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
