<button
  draggable="true"
  id="dropdown-top-button"
  data-dropdown-toggle="dropdownTop"
  data-dropdown-placement="top"
  class="applet applet--button flex items-center justify-center gap-x-3"
  type="button"
>
  {{value.title|title}}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 2048 2048"
    class="w-3 h-3 fill-slate-900 dark:fill-slate-50"
    focusable="false"
  >
    <path
      d="M1902 1511l-878-878-878 878-121-121 999-999 999 999-121 121z"
    ></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdownTop"
  class="hidden relative w-full max-w-md bg-slate-50 dark:bg-slate-900 rounded-lg divide-y divide-slate-100 dark:divide-slate-700 border border-slate-100 dark:border-slate-900 shadow-lg"
  style="z-index: 999"
>
  <ul
    class="flex flex-col gap-y-3 prose dark:prose-invert prose-li:m-0 prose-a:no-underline list-none p-3"
    aria-labelledby="dropdownTopButton"
  >
    {% for link in value.links %}
    <li>
      <a
        href="{{link.url}}"
        class="flex items-center gap-x-3 rounded-md py-3 px-6 hover:bg-slate-100 dark:hover:bg-slate-800"
      >
        {{link.title|title}}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048"
          class="w-2 h-2 fill-slate-900 dark:fill-slate-50"
          focusable="false"
        >
          <path
            d="M2048 0v1152h-128V219L109 2029l-90-90L1829 128H896V0h1152z"
          ></path>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
