<article draggable="true" class="applet max-w-md">
  <header class="applet__header">
    <h1>{{value.title|title}}</h1>
  </header>

  <main class="px-3 py-6">
    <ol class="relative border-l border-blue-200">
      {% for event in value.events %}
      <li class="mb-7 ml-6">
        <div
          class="absolute w-3 h-3 bg-blue-300 rounded-full mt-1.5 -left-1.5"
        ></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-500"
          >{{ event.date|date:'F d, Y' }}
        </time>
        <h3 class="text-lg font-semibold text-gray-900">
          {{ event.title|title }}
        </h3>
        <p class="mb-4 text-base font-normal text-gray-700">
          {{ event.description }}
        </p>
      </li>
      {% endfor %}
    </ol>
  </main>
</article>
