<article
  draggable="true"
  id="todo"
  class="applet border-none bg-blue-400 bg-gradient-to-b from-blue-500 to-blue-400 dark:bg-slate-900 dark:from-slate-900 dark:to-slate-900 w-full md:max-w-sm"
>
  <header
    class="flex items-center justify-start gap-x-1 prose-h1:font-semibold prose-h1:text-xl prose-h1:m-0 prose-h1:text-slate-50 dark:prose-h1:text-teal-400 pt-6 py-3 px-6 rounded-t-lg"
  >
    <h1>🍉 {{value.title|title}}</h1>
  </header>

  <main
    class="prose-ul:m-0 prose-ul:p-0 prose-li:m-0 prose-li:list-none py-3 px-6"
  >
    <ul class="flex flex-col gap-y-1">
      {% for task in value.tasks %} {% with slugtask=task|slugify %}
      <li
        class="flex items-center rounded-md bg-slate-50 dark:bg-slate-800 pl-3 pr-6 py-3 shadow-sm"
      >
        <input
          type="checkbox"
          name="todo-{{slugtask}}"
          id="todo-{{slugtask}}"
          class="w-5 h-5 text-blue-600 dark:text-teal-400 bg-slate-50 dark:bg-slate-900 rounded-full border-slate-700 dark:border-slate-800 focus:ring-blue-400 dark:focus:ring-teal-400 dark:ring-offset-slate-800 focus:ring-2"
        />
        <label for="todo-{{slugtask}}" class="leading-normal ml-3"
          >{{task}}</label
        >
      </li>
      {% endwith %} {% endfor %}
    </ul>

    <div class="relative mt-12">
      <span class="absolute inset-y-4 inset-x-4 z-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 2048 2048"
          class="w-4 h-4 fill-slate-900 dark:fill-slate-50"
          focusable="false"
        >
          <path
            d="M2048 960v128h-960v960H960v-960H0V960h960V0h128v960h960z"
          ></path>
        </svg>
      </span>
      <input
        type="text"
        class="px-3 pl-12 py-3 w-full rounded-md border-none bg-slate-50 dark:bg-slate-800 placeholder:text-lg text-lg"
        placeholder="Add a new task"
        autocomplete="off"
        autocapitalize="on"
      />
    </div>
  </main>
</article>
